.stats_preview_card{
    background-color: var(--dark_desaturated_blue);
    width: 1200px;
    height: 446px;
    margin: 200px;
    margin-left: 400px;
    border-radius: 10px;
}
.card_title{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Outfit', sans-serif;
    color: var(--white);
    text-align: left;
    padding-left: 100px;
    padding-top: 35px;
    padding-bottom: 50px;
    line-height: 50px;

        span{
        color: var(--soft_violet);
        }
}

.card_details{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    color: var(--grey);
    text-align: left;
    padding-left: 100px;
    
    
}

.companies_stats_preview{
    color: var(--white);
    font-size: 25px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 25px;
    float: left;

        span{
            font-size: 10px;
            color: var(--grey);
            font-family: 'Outfit', sans-serif;
            font-weight: 900;
        }
}

.stats_preview_templates{
    color: var(--white);
    font-size: 25px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
    line-height: 25px;
    float: left;
        span{
            font-size: 10px;
            color: var(--grey);
            font-family: 'Outfit', sans-serif;
            font-weight: 900;
        }
}

.stats_queries{
    color: var(--white);
    font-size: 25px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 25px;
    float: left;
        span{
            font-size: 10px;
            color: var(--grey);
            font-family: 'Outfit', sans-serif;
            font-weight: 900;
        }
}

.stats__photo{
    
    img{
        float: right;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: linear-gradient(transparent,);
    }
}